<script src="./js/listEvent.js"></script>
<link href="./css/listEvent.css" rel="stylesheet" />

<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#demo"
      data-bs-slide-to="0"
      class="active"
    ></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="container-fluid-co">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-6">
            <img src="./img/tu1.jpg" alt="tu1" class="banner-promosi" href="" />
          </div>
          <div class="col-md-6">
            <img src="./img/tu2.jpg" alt="tu2" class="banner-promosi" href="" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6">
            <img src="./img/tu1.jpg" alt="tu1" class="banner-promosi" href="" />
          </div>
          <div class="col-md-6">
            <img src="./img/tu3.jpg" alt="tu3" class="banner-promosi" href="" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6">
            <img src="./img/tu2.jpg" alt="tu2" class="banner-promosi" href="" />
          </div>
          <div class="col-md-6">
            <img src="./img/tu3.jpg" alt="tu3" class="banner-promosi" href="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<section id="hero" class="hero">
  <div class="container mb-3">
    <input
      type="text"
      id="searchInput"
      class="form-control"
      placeholder="Cari Nama atau Tema Acara"
      oninput="searchEvent()"
    />
  </div>
  <div class="container">
    <div class="row" id="cardRow">
      <% events.forEach((event, index) => { %>
      <div class="col-lg-4 col-md-4" style="margin-bottom: 20px">
        <div class="card">
          <img
            src="./img/tu1.jpg"
            alt="tu1"
            class="card-img-top"
            style="width: 100%"
          />
          <div class="card-body" style="height: 300px">
            <h5 class="card-title" style="font-weight: bold">
              <%= event.nama_event %>
            </h5>
            <p
              id="until"
              type="date"
              class="card-text"
              style="color: grey; font-size: 15px"
            >
              <%= event.kepanitiaan_mulai %>
            </p>
            <p class="desCard" style="color: grey; word-wrap: break-word">
              <%= event.deskripsi_event %>
            </p>
            <div class="entry-button">
              <a id="bacaSelBtn" style="font-weight: bold" href="/profile-event/<%= event.id %>"
                >Baca Selengkapnya</a
              >
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <div class="text-center">
      <a id="showAllBtn" style="color: whitesmoke">Perlihatkan</a>
      <a id="hideAllBtn" style="color: whitesmoke; display: none"
        >Sembunyikan</a
      >
    </div>
    <div class="Class Baru">
      //Class Baru
      //Membuat UI Pada Class Baru
    </div>
  </div>
</section>
